{% extends 'common.html' %}
{% block sravani %}
    {% load static %}
    {% include 'common menu.html' %}
    <table align="center" border="0" >
        <tr><th>
        <table align="left" border="0">
    <tr><th style="color: deeppink"><u>Our location:</u></th></tr>
    <tr><th>SATHYA Technologies</th></tr>
    <tr><th>The Best Software Training Institute in Ameerpet , Hyderabad</th></tr>
    <tr><td>2nd Floor, Sri Sai Arcade,</td></tr>
    <tr><td>Beside Aditya Trade Centre, Ameerpet,</td></tr>
    <tr><td>Hyderabad- Telengana State, PIN-500 038. INDIA</td></tr>

        </table></th>
            <th>
                <table align="right" >
                    <tr><th style="color: deeppink"><u>ContactUs:</u></tr>
                    <tr><th><img src="{% static 'images/call.jpg' %} " width="40" height="40">9848022338</th></tr>
                     <tr><th><img src="{% static 'images/mail.jpg' %} " width="40" height="40">sravani@gmail.com</th></tr>

                    <tr><br></tr>

                    <tr><th style="color: red"><u>Business Hours</u></th></tr>
                    <tr><th><img src="{% static 'images/time.jpg' %} " width="40" height="40">Monday – Saturday: 7am to 9pm IST</th></tr>
                    <tr><th><img src="{% static 'images/time.jpg' %} " width="40" height="40">Sunday – Closed </th></tr>

                </table>
            </th>
    </tr>

    </table>
{% endblock %}