 <table class="table table-dark" style="width: 1000px" align="center" border="">

        <tr>
            <th><h5 align="center"><a href="{% url 'view_savedcourses' %}?con={{ request.session.contact }}" > Enroll the Courses </a></h5></th>
            <th><h5 align="center"><a href="{% url 'view_enroll' %}?con={{ request.session.contact }}">View all the Enroll  Courses</a></h5></th>
            <th><h5 align="center"><a href="{% url 'cancel_enrolledcourse' %}?con={{ request.session.contact }}"> Cancell the Enroll  Courses  </a></h5></th>
            <th><h5 align="center"><a href="{% url 'LoginStu' %}"> Logout </a></h5></th>
           </tr>
    </table>
